// Styling for email sign-up forms #42-47

.gform_ajax_spinner {
    display: none;
}

.gfield_description {
    display: none;
}
////////////////
// Header form//
////////////////

#site-top-bar #sign-up {
    @media (min-width: 1024px) {
        display: flex;
        justify-content: flex-end;
        /*min-height needed to accomodate red border on invalid field entries*/
        min-height: 75px;

        p {
            padding: 12px 2px 2px 0;
        }

        div {
            display: block;
            text-align: left;
        }

        #header-email-capture {
            padding-top: 0;
            padding-left: 0.5em;

            #gform_44 {
                display: flex;
                justify-content: center;
            }

            .gform_wrapper {
                #gform_fields_44 {
                    width: 182px;
                    justify-content: space-between;
                }

                .top_label {
                    .gfield_label {
                        display: none;
                    }
                }

                .gform_footer {
                    margin: 0;
                    padding: 0;
                }
                //  .gfield_error {
                //     background-color: rgba(255,223,224,.75);
                //     border: 1px solid red;
                //     border-radius: 3px;
                //     transition: all .2s ease;
                //   }
            }

            .gform_wrapper,
            .salesforce_w2l_lead {
                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        width: auto;
                        padding: 0;
                    }
                }
            }

            .ginput_container {
                width: auto;
                border-radius: 5px;
                padding: 0;
                margin: 0;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
            }

            #gform_submit_button_44 {
                padding: 10px 15px;
                border-radius: 5px;
                margin-left: 6px;
            }

            #input_44_1,
            #input_44_2_5 {
                background-color: rgba(149, 154, 161, 0.15);
                padding: 10px 5px;
                font-size: 12px;
            }

            #input_44_1 {
                margin: 0;
            }

            #input_44_2_5 {
                width: 55px;
                margin: 0;
            }

            #input_44_2_5_label {
                display: none;
            }

            #gform_confirmation_message_44 {
                text-align: center;
                color: #ffffff;
                background-color: #739600;
                font-size: 13px;
                vertical-align: middle;
                padding: 8px;
                border-radius: 5px;
            }

            #field_44_1,
            #field_44_2 {
                margin-top: 0;
            }

            #gf_44 .validation_alert {
                display: none;
            }

            #field_44_1 .validation_message {
                display: none;
            }

            #field_44_2 .validation_message {
                text-align: center;
                float: left;
                width: 60%;
                display: none;
            }

            #input_44_1_container,
            #input_44_2_5_container {
                min-height: 0;
            }

            .ginput_right {
                margin: 0;
                display: block;
                padding: 0;
                width: 100%;
            }
        }
    }
}
//////////////////
// slide-up form//
//////////////////

#gform_47 {
    #gform_fields_47 {
        justify-content: flex-end;

        #field_47_2 {
            #input_47_2 {
                #input_47_2_5_container {
                    margin: 0;
                    padding-right: 0;
                }
            }
        }

        #field_47_1,
        #field_47_2 {
            .ginput_container {
                margin: 5px 0;
            }
        }
    }

    .gform_footer {
        text-align: left;
        margin: 5px 0;
        padding: 0;
    }

    .gform_body,
    .gform_footer {
        width: auto;
    }

    #gform_submit_button_47,
    #input_47_1,
    #input_47_2,
    #input_47_2_5 {
        @media (max-width:767px) {
            // padding: .4em;
            line-height: 1em;
            min-height: 1em;
            margin-top: 0 !important;
        }
    }

    #gform_submit_button_47 {
        line-height: 1.1em;
    }
    @media (max-width:450px) {
        flex-flow: column;

        #input_47_1 {
            margin: 4px 3px 0;
        }

        #gform_fields_47 {
            justify-content: center;

            #field_47_2 {
                padding-top: 5px;
            }
        }

        .gform_footer {
            text-align: center;
        }

        .ginput_right {
            padding-right: 0;
        }

        #gform_submit_button_47 {
            padding: 10px 5px !important;
            margin: 10px 0 0 !important;
            width: 85%;
            max-width: 242px;
        }
    }
}

#gform_45 {
    #field_45_1,
    #field_45_2 {
        margin: 0 !important;
    }

    #input_45_2 {
        margin-top: 0 !important;
    }
}

#gform_42 {
    #field_42_1,
    #field_42_2 {
        margin: 0 !important;
    }

    #input_42_2 {
        margin-top: 0 !important;
    }
}

#gform_43 {
    #field_43_1,
    #field_43_2 {
        margin: 0 !important;
    }

    #input_43_2 {
        margin-top: 0 !important;
    }
}

#gform_42, #gform_43, #gform_45 {
    .gform_fields {
        justify-content: space-around;
        min-height: 155px;
    }
  }
//fixes border-box for email signup forms affected by gravity forms version update//

#gform_submit_button_42,
#gform_submit_button_43,
#gform_submit_button_44,
#gform_submit_button_45,
#gform_submit_button_46,
#gform_submit_button_47,
#input_42_1,
#input_42_2_5,
#input_43_1,
#input_43_2_5,
#input_44_1,
#input_44_2_5,
#input_45_1,
#input_45_2_5,
#input_46_1,
#input_46_2_5,
#input_47_1,
#input_47_2_5 {
    box-sizing: content-box !important;
}
/*Gonna need to next this inside all these forms only*/
#gform_wrapper_42,
#gform_wrapper_43,
#gform_wrapper_44,
#gform_wrapper_45,
#gform_wrapper_46,
#gform_wrapper_47 {
    .gform_wrapper li.gfield_error textarea,
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        border: 0 !important;
    }

    .gfield_error {
        background-color: rgba(255,223,224,.75);
        border: 1px solid red;
        border-radius: 5px;
        transition: all 0.2s ease;
    }
}
