// Styling for email sign-up forms #42-47

.gform_ajax_spinner {
    display: none;
}

.gfield_description {
    display: none;
}
////////////////
// Header form//
////////////////

#site-top-bar #sign-up {
    @media (min-width: 1024px) {
        display: flex;
        justify-content: flex-end;

        p {
            padding: 12px 2px 2px 0;
        }

        div {
            display: block;
            text-align: left;
        }

        #header-email-capture {
            padding-top: 0;

            #gform_44 {
                display: flex;
                justify-content: center;
            }

            .gform_wrapper {
                .top_label {
                    .gfield_label {
                        display: none;
                    }
                }

                .gform_footer {
                    margin: 0;
                    padding: 0;
                }
            }

            .gform_wrapper,
            .salesforce_w2l_lead {
                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        width: auto;
                        padding: 0;
                    }
                }
            }

            .ginput_container {
                width: auto;
                border-radius: 5px;
                padding: 0;
                margin: 0;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
            }

            #gform_submit_button_44 {
                padding: 10px 15px 8px;
                border-radius: 5px;
                margin-left: 2px;
            }

            #input_44_1,
            #input_44_2_5 {
                margin: 0 2px;
                border: none;
                background-color: rgba(149, 154, 161, 0.15);
                padding: 10px 5px;
                font-size: 12px;
            }

            #input_44_1 {
                width: 98%;
            }

            #input_44_2_5 {
                width: 55px;
            }

            #input_44_2_5_label {
                display: none;
            }

            #gform_confirmation_message_44 {
                text-align: center;
                color: #ffffff;
                background-color: #739600;
                font-size: 13px;
                vertical-align: middle;
                padding: 8px;
                border-radius: 5px;
            }

            #field_44_1,
            #field_44_2 {
                margin-top: 0;
                padding-right: 1%;
            }

            #gf_44 .validation_alert {
                display: none;
            }

            #field_44_1 .validation_message {
                // display: block;
                display: none;
            }

            #field_44_2 .validation_message {
                text-align: center;
                float: left;
                width: 60%;
                display: none;
            }

            #input_44_1_container,
            #input_44_2_5_container {
                min-height: 0;
            }

            .ginput_right {
                margin: 0;
                display: block;
                padding: 0;
                width: 100%;
            }
        }
    }
}
//////////////////
// slide-up form//
//////////////////

#gform_47 {
    #gform_fields_47 {
        justify-content: flex-end;
    }

    .gform_footer {
        text-align: left;
    }

    .gform_body,
    .gform_footer {
        width: auto;
    }

    #gform_submit_button_47,
    #input_47_1,
    #input_47_2,
    #input_47_2_5 {
        @media (max-width:767px) {
            // padding: .4em;
            line-height: 1em;
            min-height: 1em;
            margin-top: 0 !important;
        }
    #gform_submit_button_47 {
      line-height: 1.1em;
    }
    }
    @media (max-width:450px) {
        flex-flow: column;

        #gform_fields_47 {
            justify-content: center;
        }

        .gform_footer {
            text-align: center;
        }

        #gform_submit_button_47 {
            padding: 10px 5px !important;
            width: 85%;
        }
    }
}
//fixes border-box for email signup forms affected by gravity forms version update//
#gform_submit_button_42,
#gform_submit_button_43,
#gform_submit_button_44,
#gform_submit_button_45,
#gform_submit_button_46,
#gform_submit_button_47,
#input_42_1,
#input_42_2_5,
#input_43_1,
#input_43_2_5,
#input_44_1,
#input_44_2_5,
#input_45_1,
#input_45_2_5,
#input_46_1,
#input_46_2_5,
#input_47_1,
#input_47_2_5 {
    box-sizing: content-box !important;
}
