.footer {
	background-color: $blueD;
	.row {
		margin: auto;
		width: 70%;
		padding: 3em 0;
		.footer-menu-title {
			opacity: .5;
			letter-spacing: 2px;
		}
		ul {
			margin-top: 2em;
			list-style: none;
			li {
				line-height: 1.5em;
			}
		}
		.small-12 {
			margin-top: 2em;
			ul {
				margin-top: .5em;
			}
		}
	}
	a {
		color: white;
		@include link-transition();
		&:hover {
			opacity: .7;
		}
	}
	.last-footer-column {
	  text-align: center;
	  /*background: white;*/
	  /*height: 100%;*/
	}

	#nhc-logo {
	  width: 75%;
	  max-width: 150px;
	  background: white;
	  padding: 2%;
	}

	@media (max-width: 1023px) {
	  .last-footer-column {
	    width: 45%;
	    text-align: left;
	  }
	  .columns:last-child:not(:first-child) {
	    float: left;
	  }
	  #nhc-logo {
	    margin-top: 5%;
	  }
	}
}
